<a href="https://colab.research.google.com/github/ranj10/Python_practice_od_d1/blob/main/DPY2005_W1_D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recursion

- In computer science, recursion is a method of solving a computational problem where the solution depends on solutions to smaller instances of the same problem.

- Recursion solves such recursive problems by using functions that call themselves from within their own code.


##Python Recursive Function
- A function can call other functions.

- Also possible for the function to call itself. Such functions are called recursive functions.
```
Syntax: def functionName:
              
              Base case statement

              Statement 1
              Statement 2

                  .
                  .
              functionName()
                   .
                   .
```

## Recursion == Loops
* Base case
* Stack overflow

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
# Simple example: Print numbers

def print_num(number):

  print(number)

  if number == 5:
    return

  return print_num(number + 1)

In [ ]:
print_num(1)

1
2
3
4
5

In [ ]:
# Example of stack overflow

def print_num(number):

  print(number)

  return print_num(number + 1)

In [ ]:
print_num(1)

## Practice problems
1. Find the sum of n natural numbers using Recursion
2. Find the factorial of a given number using Recursion

In [ ]:
summ = 0

for i in range(1, 11):
  summ += i

print(summ)

55

In [ ]:
# Solutions

def summ(number):

  if number == 1:
    return number

  return number + summ(number - 1) # 10 + 9 + 8 + 7 ....... + 1

In [ ]:
def summ(number, result = 0):

    if number == 1:
      return result + number

    return summ(number - 1, result + number) # (9, 10) (8, 19) (7, 27) ......  (1, 54)

In [ ]:
summ(10)

55

In [ ]:
def factorial(number, fac = 1):

  if number == 1:
    return fac

  print("number", number)
  print("fac", fac)

  return factorial(number-1, number*fac)

In [ ]:
factorial(5)

number 5
fac 1
number 4
fac 5
number 3
fac 20
number 2
fac 60

120

In [ ]:
# Find the sum of elements in a list
a = [1, 2, 3, 4, 5]

def summ(index = 0, result = 0):

  if index == len(a):
    return result

  return summ(index+1, result + a[index]) # (1, 1) (2, 3)   (5, 15)

In [ ]:
summ()

15

In [ ]:
# Find the sum of even numbers between 50 and 100

def summ(number = 50, result = 0):

  print(number)

  if number == 61:
    return result

  if number % 2 == 0:
    print("even number", number)
    result += number

  return summ(number+1, result)

In [ ]:
summ()

50
even number 50
51
52
even number 52
53
54
even number 54
55
56
even number 56
57
58
even number 58
59
60
even number 60
61

330

In [ ]:
# Quadtree
Square -> 4 equal squares

In [ ]:
rev = ""
for i in "racecar":
  print("i", i)
  rev = rev + i
  print("rev", rev)

i r
rev r
i a
rev ra
i c
rev rac
i e
rev race
i c
rev racec
i a
rev raceca
i r
rev racecar

In [ ]:
# Check whether a number/string is palindrome or not
string = "racecar"
def ispalin(index = 0, rev = ""):

  if index == len(string):
    if rev == string:
      return True
    else:
      return False

  return ispalin(index+1, string[index] + rev)

In [ ]:
ispalin()

True

## Solve the problems using Recursion
1. Find the nth term in the fibonacci series.
2. Find the sum of elements in a list
3. Find the sum of digits in a given number
4. Check whether a number/string is palindrome or not
5. Find the sum of even numbers between 50 and 100
6. Check whether a number is prime or not.

In [ ]:
def fibo(number):
  if number == 1:
    return 0
  if number == 2:
    return 1

  return fibo(number-1) + fibo(number-2)

In [ ]:
fibo(6)

5

In [ ]:
def fibo(number, a = 0, b = 1):
  if number == 1:
    return a
  if number == 2:
    return b


  return fibo(number-1, b, a + b)

In [ ]:
fibo(6)

5

In [ ]:
a = [1, 2, 3, 4, 5, 6]
def summ(n = 0):
  if n == len(a) - 1:
    return a[n]

  return a[n] + summ(n+1)

In [ ]:
summ()

21

In [ ]:
number = "3456"

def summ(n=0):
  if n == len(number)-1:
    return int(number[n])

  return int(number[n]) + summ(n+1)

In [ ]:
summ()

18

In [ ]:
def ispalin(number,a = 0, res = ""):
  if a == len(number):
    if res == number:
      return True
    else:
      return False

  return ispalin(number, a+1, number[a]+res)

In [ ]:
ispalin("454")

True

In [ ]:
def geteven(n, upper, result = 0):
  if n == upper:
    return result
  if n % 2 == 0:
    result += n
  return geteven(n+1, upper, result)

In [ ]:
geteven(50, 101)

1950

In [ ]:
def isprime(number, a = 2, res = True):
  if a == number - 1:
    return res

  if number % a == 0:
    res = False
    return res

  return isprime(number, a+1, res)

In [ ]:
isprime(27)

False

In [ ]:
# Recursion is very very slow than loops
# Greedy algorithms, sort,
# There are many problems which are recursive -> Its very difficult using loops;
# Recursion is simple in code

# Lambda functions
* known as anonymous function as defined without name
* can accept any number of arguments

### Syntax

**lambda** arguments: expression

In [ ]:
lambda x: x + 5

In [ ]:
# Example: Increment age by 5

a = lambda x: x+5

In [ ]:
a(10)

15

In [ ]:
def iseven(number):
  if number % 2 == 0:
    return True
  else:
    return False

In [ ]:
# Example: Check whether even or odd

a = lambda number: (cond = True) if cond else (cond = False)

In [ ]:
a(4)

True

In [ ]:
def avg(x,y):
  return (x+y) / 2

In [ ]:
a = lambda x,y, z, q = 10: (x+y+z) / 3

In [ ]:
a(3, 5)

4.0

In [ ]:
x = [1, 2, 3, 4, 5]

a = lambda x1: sum(x1)

In [ ]:
a(x)

15

# Higher Order functions
* Removes the explicit code for **Loops**
1. Map
2. Reduce
3. Filter

## Map: Processing Iterables Without a Loop
* Python’s map() is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop, a technique commonly known as mapping.

In [ ]:
# Example: Square each element in a list by Loops
a = [1, 2, 3, 4, 5]

b = []

for i in a:
  b.append(i**2)

print(b)

b=[]
for i in a:
  b.append(i**2)


print(b)

[1, 4, 9, 16, 25]

In [ ]:
# Example: Square each element in a list by map
a = [1, 2, 3, 4, 5]

list(map(lambda x: x ** 2, a)) #

[1, 4, 9, 16, 25]

In [ ]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]

list(map(int, str_nums))

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

## Practice problems
1. Convert string to integers.

str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
2. Find the length of all the words.

words = ["Welcome", "to", "Real", "Python"]

In [ ]:
[7, 2, 4, 6]

In [ ]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]

list(map(lambda x: int(x), str_nums))

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

In [ ]:
words = ["Welcome", "to", "Real", "Python"]

list(map(lambda x: len(x), words))

[7, 2, 4, 6]

## Reduce
* Python’s reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.
* available in **functools** module

In [ ]:
from functools import reduce

In [ ]:
# Example: Find the sum of the elements in a given list

x = [1, 2, 3, 4, 5]

reduce(lambda a,b: a+b, x)

15

In [ ]:
x = [1, 2, 3, 4, 5]

summ = 0

for i in x:
  summ += i

print(summ)

15

In [ ]:
# Map, filter and reduce -> no loops

# Practice problems
1. Find the min and max of a given list

In [ ]:
a = [2, 13, 24, 5]

reduce(lambda x,y: x if x>y else y, a)

24

## Filter
* Python’s filter() is a built-in function that allows you to process an iterable and extract those items that satisfy a given condition. This process is commonly known as a filtering operation.

In [ ]:
a = [2, 4, 7, 9, 4, 6, 12]

for i in a:
  if i % 2 == 0:
    print(i)

2
4
4
6
12

In [ ]:
# Example: Extract even numbers from a given list of numbers

a = [2, 4, 7, 9, 4, 6, 12]

list(filter(lambda x: x%2 == 0, a))

[2, 4, 4, 6, 12]

## Practice problems
1. Get all the palindromes in the given list.

words = ("filter", "Ana", "hello", "world", "madam", "racecar")
2. Remove the outliers from a given list.

sample = [10, 8, 10, 8, 2, 7, 9, 3, 34, 9, 5, 9, 25]

In [ ]:
words = ("filter", "Ana", "hello", "world", "madam", "racecar")

list(filter(lambda x: True if x[::-1] == x else False, words))

['madam', 'racecar']

In [ ]:
import statistics as st
sample = [10, 8, 10, 8, 2, 7, 9, 3, 34, 9, 5, 9, 25]
mean = st.mean(sample)
stdev = st.stdev(sample)

low = mean - 2 * stdev
high = mean + 2 * stdev

clean = filter(lambda number: low <= number <= high, sample)
list(clean)

[10, 8, 10, 8, 2, 7, 9, 3, 9, 5, 9, 25]

# Practice problems on lambda, map, reduce and filter
1. Calculate the factorial of a number using reduce function
2. Caplitalize all the words in a given list using map function
3. Create a list with both positive and negative values and now write a program to remove the negative numbers using filter function
4. Get a list of primes between 50 and 100 using lambda and filter functions
5. Find the sum of all the digits in a given number using reduce

In [ ]:
reduce(lambda x, y: x*y, range(1, 6))

120

In [ ]:
string_it = ["processing", "strings", "with", "map"]

list(map(lambda s:s.capitalize(), string_it))

['Processing', 'Strings', 'With', 'Map']

In [ ]:
a = [-1, -2, 5, 6]
list(filter(lambda x: x>0, a))

[5, 6]

In [ ]:
def getprimes(given):
  numbers = filter(lambda number: given%number == 0, range(2, given))
  if len(list(numbers)) == 0:
    return True
  else:
    return False
numbers = filter(getprimes, range(50, 100))
list(numbers)

[53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
a = 123
reduce(lambda x,y: x+y, list(map(int, str(a))))

6