<a href="https://colab.research.google.com/github/ranj10/Python_practice_od_d1/blob/main/Python_practice_od_d1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# task-1
a = input("enter your name here:")
print("hello", a)

enter your name here:ranjana
hello ranjana

In [ ]:
#task-2
divd=int(input("Enter the dividend "))
divr=int(input("Enter the devisor "))
print("Quetent is:{}".format(divd/divr))

Enter the dividend 21
Enter the devisor 6
Quetent is:3.5

In [ ]:
#TASK-3
divd=float(input("Enter the dividend "))
divr=float(input("Enter the devisor "))
print("Quetent is:{}".format(divd/divr))
print("reminder is {}:".format(divd%divr))

Enter the dividend 22
Enter the devisor 6
Quetent is:3.6666666666666665
reminder is 4.0:

In [ ]:
#Task-4
n = input("enter your name here:")
ag = int(input("enter your age here:"))
g = input("enter your gender here:")
o = input("enter your occupation here:")
w =float(input("enter your weight here:"))
h = float(input("enter your height here:"))

print("{} is {} years old {} {}".format(n,ag,g,o))

enter your name here:ranjana
enter your age here:32
enter your gender here:female
enter your occupation here:banker
enter your weight here:58
enter your height here:5.1
ranjana is 32 years old female banker

In [ ]:
#Task-5
height_meters = h * 0.3048
bmi=w/height_meters**2
print("BMI of {} is {}:".format(n,bmi))

BMI of ranjana is 24.002568403274278:

In [ ]:
#Task-5
a=10
b=12
c=0
d=-1

(a<b) and (a+1>b)

False

In [ ]:
(1==1) or (1==2)

True

In [ ]:
0 or False

False

In [ ]:
1 or False

1

In [ ]:
False or 1

1

In [ ]:
False and 1

False

In [ ]:
(not 0) or (not 'A')

True

In [ ]:

False or ''

''

In [ ]:
True and ' '

' '

In [ ]:
d or c

-1

In [ ]:
not d and c

False

In [ ]:
c and not d

0

In [ ]:

str(c) in str(a)

True

In [ ]:
'3' in str(a)

False

In [ ]:
string1='Let us discuss collections'
print(type(string1))
print(string1)
print(string1[2])
# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
#string1[2]='ts' #this line returns error

<class 'str'>
Let us discuss collections
t

In [ ]:
list1=[1,'Apple',200, 20.5,True,0]  #this is a list of values, lists are mutable
print(type(list1))
print(list1[2])
list1[2]='Two'
print(list1)

<class 'list'>
200
[1, 'Apple', 'Two', 20.5, True, 0]

In [ ]:
tuple1=(1,'ball',459, 2.89,True,0) #tuples are similar to list, but immutable
print(type(tuple1))
print(tuple1[2])
# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
tuple1[2]='four five nine' #this line returns error
print(tuple1)

<class 'tuple'>
459

TypeError: ignored

In [ ]:
set1={24,24,2,2,3,4,24,'Apple','boy'} # sets are similar to sets in mathematcis, and  mutable. Sets do not have index.
print(type(set1))
print(set1) #returns only the distinct values
# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
print(set1[1])

<class 'set'>
{2, 3, 4, 'Apple', 'boy', 24}

TypeError: ignored

In [ ]:
dict1={'Name':'Shyam', 'age':30, 'shift':'second', 'married':'no'}
print(type(dict1))
print(dict1)
print(dict1['shift'])
# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
#print(dict1['Shift']) #gives error as key with capital 'S' in Shift not found

# REMOVE THE COMMENT SYMBOL BEFORE NEXT LINE AND TRY TO EXECUTE
print(dict1[0]) #error, dictionaries are not indexable

<class 'dict'>
{'Name': 'Shyam', 'age': 30, 'shift': 'second', 'married': 'no'}
second

KeyError: ignored

In [ ]:
#Task-8
#Check the below requirements for True/False based on collections created in Task 7

#Does the string string1 have @ in it?
'@' in string1

False

In [ ]:
#Is there any element 'Two' in list1?
'Two' in list1

True

In [ ]:
#Is there any element 'Ball' in tuple1?
'Ball' in tuple1

False

In [ ]:
#Is there value 4 in set1?
4 in set1

True

In [ ]:
#Is there any keyword for gender in dict1?
'gender' in dict1

False