<a href="https://colab.research.google.com/github/ranj10/Python_practice_od_d1/blob/main/Python_practice_od_d1t1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Day 1 - Task 1
#print all single digit number

for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
'''Day 1 - Task 2
WAP to write all the even numbers between 1 and 20'''

for i in range(1,20):
  if i%2==0:
     print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
''' WAP to check whether a number entered by user is prime or not.
A number is said to be prime, if it is divisible by 1 and itself only.
Sample Output
Enter the number to be checked for prime:67
 Prime number
Enter the number to be checked for prime:33
 Not a prime number'''

n=int(input("Enter the number to be checked for prime:"))

if n==1:
  print(" Not a prime number")
else:
  for i in range(2,n**2):
    if n%i==0:
      print("Not a prime number")
      break
else:
  print(" prime number")

In [ ]:
'''Day 1 - Task 3
Task 3
WAP to prompt user to enter their name, print all letters of the name.
Sample Output
Enter your name: Sharda
 S
 h
 a
 r
 d
 a
'''

name=(input("Enter your name:"))
for i in name:
  print(i)

Enter your name:ranjana gautam
r
a
n
j
a
n
a

g
a
u
t
a
m

In [ ]:
'''Day 1 - Task 4
WAP to calculate the factorial of a number entered by user, using for loop
Sample Output
Enter the number:5
 Factorial of 5 is 120'''

num=int(input("Enter the number :"))

fact=1
for i in range(1,num+1):
  fact=fact*i


print(fact)

Enter the number :10
3628800

In [ ]:
'''Day 1 - Task 5
WAP to print the sum of all numbers from 10 to 99
Sample Output
4905
'''


sum=0
for i in range(10,100):
  sum=sum+i


print(sum)

4905

In [ ]:
#Modify the code to get the sum of all even numbers between 10 to 99

sum=0
for i in range(10,100):
  if i%2==0:
    sum=sum+i


print(sum)

2430

In [ ]:
#Modify the code to print the sum of all odd numbers between 101 to 200

sum=0
for i in range(10,100):
  if i%2!=0:
    sum=sum+i


print(sum)

2475

In [ ]:
'''Day 1 - Task 6
WAP to print the letters of the string and their index position
Sample Output
Enter a word:OdinSchool
(0, 'O')
(1, 'd')
(2, 'i')
(3, 'n')
(4, 'S')
(5, 'c')
(6, 'h')
(7, 'o')
(8, 'o')
(9, 'l')'''

str=(input("Enter a string :"))

sum=0
for i in str:
  print(sum,i)
  sum+=1

Enter a string :ranjana gautam
0 r
1 a
2 n
3 j
4 a
5 n
6 a
7
8 g
9 a
10 u
11 t
12 a
13 m

In [ ]:
'''Day 1 - Task 7
WAP to aggregate the below 2 lists, and create a restaurant menu
items=['Juice','Salad','Sandwich','Paratha','Idli Sambar','Dosa','Misal Pav']
price=[100,150,80,180,90,120,50]
Sample Output
 ('Juice', 100)
 ('Salad', 150)
 ('Sandwich', 80)
 ('Paratha', 180)
 ('Idli Sambar', 90)
 ('Dosa', 120)
 ('Misal Pav', 50)'''

items=['Juice','Salad','Sandwich','Paratha','Idli Sambar','Dosa','Misal Pav']
price=[100,150,80,180,90,120,50]

menu = list(zip(items, price))

for item, cost in menu:
    print(f'({item}, {cost})')

(Juice, 100)
(Salad, 150)
(Sandwich, 80)
(Paratha, 180)
(Idli Sambar, 90)
(Dosa, 120)
(Misal Pav, 50)

In [ ]:
'''Day 1 - Task 8
WAP to print the multiplication table of 1-5 as below format
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40
9 18 27 36 45
10 20 30 40 50 '''


for i in range(1,11):
  for j in range(1,6):
    print(i*j, end=' ')
  print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40
9 18 27 36 45
10 20 30 40 50

In [ ]:
'''Day 1 - Task 9
Let us enhance our number guessing game.
Use the below code to generate a random number in your code:
import random as r
r_num=r.randint(1,10)
the value stored in r_num, is a random integer between 1 and 10. Ask your player to enter a guess between this range,
 if their guess matches the r_num value, print 'You Win', else they get another chance.
Maximum number of chances to be given is 5.
Sample Output
Enter your guess (1-10): 4
 Incorrect Guess!!
 Enter your guess (1-10): 3
 Incorrect Guess!!
 Enter your guess (1-10): 7
 You Win
 You got 3 chances
 The ans is  7
Enter your guess (1-10): 5
 Incorrect Guess!!
 Enter your guess (1-10): 8
 Incorrect Guess!!
 Enter your guess (1-10): 6
 Incorrect Guess!!
 Enter your guess (1-10): 6
 Incorrect Guess!!
 Enter your guess (1-10): 5
 Incorrect Guess!!
 You got 5 chances
 The ans is  3'''
import random as r
r_num=r.randint(1,10)
print(r_num)

chnc=0
fchnc=5

while chnc<fchnc:
  rndm=int(input("Enter any number from 1 to 10 :"))
  if rndm==r_num:
    print("You Win")
    break
  else:
      print("Incorrect Guess!")
      chnc+=1



print("You got {} chances".format(chnc+1))
print("The ans is {} ".format(r_num))

3
Enter any number from 1 to 10 :2
Incorrect Guess!
Enter any number from 1 to 10 :5
Incorrect Guess!
Enter any number from 1 to 10 :6
Incorrect Guess!
Enter any number from 1 to 10 :3
You Win
You got 4 chances
The ans is 3

In [ ]:
'''Day 1 - Task 10
WAP to print all the numbers between 5 and 15 except 10.'''

for i in range(5,16):
  if i!=10:
    print(i)

5
6
7
8
9
11
12
13
14
15